@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk40eiNxw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}
@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk50eiNxw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Muli, sans-serif;
    font-style: normal;
    color: #333;
    -webkit-tap-highlight-color: transparent
}
:focus {
    outline: 0
}
body, html {
    width: 100%;
    height: 100%
}
body {
    height: 100%
}
a {
    text-decoration: none
}
button {
    border: none
}
a, button {
    cursor: pointer;
    color: #333
}
div {
    display: flex;
}
a, div, label, p, span, table, td, th, tr {
    font-size: 15px
}
div.a{
    position: absolute;
    float: right;
  width: 100px;
}
ul {
    list-style: none
}
footer {
    width: 100%;
    position: relative
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}
.flex_justify_center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center
}
.flex_justify_start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start
}
.flex_justify_end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end
}
.flex_align_center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}
.flex_wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.flex_direction_column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
h
#main-nav {
  padding: 10px;
  width: 100%;
  position: relative;
  height: 45px;
  justify-content: space-around;
}
#main-nav.navbar{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;

}


#main-nav a {
  color: rgba(255, 255, 255, 0.9);

}

#main-nav.sticky {
  margin-top: 0px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

}


#toggle{
    display: block;
}


@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}



 .container {
    width: 100%;
    position: relative
}
 .site_logo {
    height: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 30px
}
.site_logo img {
    height: inherit
}
.site_logo .logo_text {
    color:#ee0979;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 20px
}
 .nav_container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 50px
}
.nav_container .header_menu {
    right: 0px;
    height: 50px
    
}
.header_menu li {
    padding: 0 5px;
    text-align: center;
    height: 70px
}
.header_menu li a {
    -webkit-transition: .2s ease color;
    -moz-transition: .2s ease color;
    -ms-transition: .2s ease color;
    transition: .2s ease color;
    padding: 0 10px;
    height: 40px
}
.header_menu li a p {
    color: black;
    font-size: 17px;
}
.header_menu li a>svg {
    width: 20px;
    margin-right: 5px
}
.header_menu li a svg path {
    fill: #fff
}

/*.header_menu .active, .header_menu li:hover>a {
    text-decoration: underline;
    text-decoration-color: green;
    color:#4bccf3;
    font-weight: bold;*/

.header_menu .active, .header_menu li a p:hover{
    color:#ee0979;
    font-weight: bold;
    font-size: 20px;
}
.chat_site_list {
    position: relative
}
.chat_site_list>span svg {
    -webkit-transform: scale(2.15);
    -moz-transform: scale(2.15);
    -ms-transform: scale(2.15);
    transform: scale(2.15);
    width: 10px!important;
    height: 10px!important;
    margin-left: 8px
}
.chat_site_list>span svg path {
    fill: #fff
}
.header_menu li:focus>.nav_submenu, .header_menu li:hover>.nav_submenu {
    display: block
}
.ham_wrap {
    position: relative;
    right: 20px;
    width: 60px;
    height: 50px;
    display: none
}
.ham_wrap * {
    position: absolute;
    top: 0;
    width: 60px;
    height: 50px
}
.ham_wrap #toggler {
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 2
}
.ham_wrap .btn_ham>div {
    width: 45%;
    height: 4px;
    background: #ee0979;
    position: relative;
    content: '';
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    transition: .5s ease all;
    border-radius: 10px
}
.ham_wrap .btn_ham>div:after, .ham_wrap .btn_ham>div:before {
    position: absolute;
    top: -8px;
    background-color: inherit;
    z-index: 1;
    width: 100%;
    height: 4px;
    content: '';
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    transition: .5s ease all;
    border-radius: 4px
}
.ham_wrap .btn_ham>div:after {
    top: 8px
}
.ham_wrap #toggler:checked+.btn_ham div {
    -webkit-transform: rotateZ(135deg);
    -moz-transform: rotateZ(135deg);
    -ms-transform: rotateZ(135deg);
    transform: rotateZ(135deg)
}
.ham_wrap #toggler:checked+.btn_ham div:after, .ham_wrap #toggler:checked+.btn_ham div:before {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    transform-origin: center;
    top: 0
}
.ham_wrap #toggler:checked:hover+.btn_ham div {
    -webkit-transform: rotateZ(225deg);
    -moz-transform: rotateZ(225deg);
    -ms-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
    transform-origin: center;
    top: 0;
}

.sidebar_wrapper {
    height: 100%;
    position: fixed;
    top: 50px;
    z-index: 99;
    box-shadow: 1px 5px 5px 1px rgba(115, 137, 161, .33);
    /*margin-left: -100%;*/
    opacity: 0;
    left: -100%;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    transition: .5s ease all
}
.sidebar_wrapper .sidebar_menu {
    width: 180px;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    padding-top: 20px;
}
.sidebar_menu .chat_site_list>span svg path {
    fill: #666
}
.sidebar_menu .chat_site_list:focus+.sidebar_submenu {
    margin-left: 0!important;
    opacity: 1!important
}
.sidebar_menu li {
    height: 40px;
    margin-bottom: 5px
}
.sidebar_menu li a {
    padding: 0 15px;
    height: 40px;
    width: 100%
}
.sidebar_menu li:hover a p {
    color: #ee0979;
}
.sidebar_menu li:hover>a svg path {
    fill: #ee0979;
}
.sidebar_menu li a svg {
    width: 20px;
    margin-right: 8px
}
.sidebar_menu li a svg path {
    fill: #333
}
.sidebar_submenu li {
    text-align: left;
    text-align: start;
    padding: 12px 0;
    margin: 0;
    height: auto
}
.sidebar_submenu li:hover {
    background: rgba(140, 212, 254, .58);
    cursor: pointer
}
#iframe {
    overflow: hidden;
    margin: top 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: #91abd1;
    display: flex; 
    background-color: #f3f3f3;     
}
#content {
    position: relative;
    top: 50px;
    margin: 10px 5% 100px 5%;
}
#content .h1_chat_options {
    font-size: 35px;
    padding: 30px 0 25px 0;
    letter-spacing: 1.5px;
}
#content .h2_more_option {
    padding: 30px 0 25px 0;
    letter-spacing: .5px;
}
#content .container .chat_option {
    padding: 10px 10px;
    background: #fff;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(222, 222, 222, .75);
    -webkit-transition: .2s linear all;
    -moz-transition: .2s linear all;
    -ms-transition: .2s linear all;
    transition: .2s linear all;
    width: 220px;
}
#content .container .chat_option:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 15px 1px #d2d2d2
}
.chat_option * {
    margin: 0 3px
}
.chat_option .chat_option_text {
    font-size: 15px;
    text-align: left;
    text-align: start;
    font-weight: 700;
    letter-spacing: .5px
}

.btn-large-cta {
    /*background: red;*/
    width: 60%;
    padding: 30px 0;
    border-radius: 30px 0 30px 0;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a7baff, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a7baff, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:  2px solid #a6cdfe;
    margin: 15px 0;
    box-shadow: 0 0 20px 1px #91abd1;
}
.btn-large-cta:nth-child(2) {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffa489, #f13a94);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffa489, #f13a94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-large-cta,
.btn-large-cta h2,
.btn-large-cta h3 {
    color: white;
    letter-spacing: 1px;
}
.btn-large-cta h2 {
    font-size: 45px;
    padding-bottom: 10px;
} 
.btn-large-cta h3 {
    font-size: 20px;
} 
.btn-large-cta h2 svg {
    width: 55px;
    position: relative;
    top: 8px;
} 
.btn-large-cta h2 svg path {
    fill: white;
}

@media (max-width: 1040px) {
    .btn-large-cta {
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-large-cta h2 {
        font-size: 35px;
    }
    .btn-large-cta h3 {
        font-size: 16px;
    }

    .btn-large-cta h2 svg {
        width: 40px;
        top: 6px;
    }
}

@media (max-width: 640px) {
    .btn-large-cta {
        padding-left: 20px;
        padding-right: 20px;
        width: 70%;
        border-radius: 20px 0 20px 0;
    }
    .btn-large-cta h2 {
        font-size: 25px;
    }
    .btn-large-cta h3 {
        font-size: 14px;
    }

    .btn-large-cta h2 svg {
        width: 30px;
        top: 5px;
    }
}

@media (max-width: 480px) {
    .btn-large-cta {
        padding-left: 20px;
        padding-right: 20px;
        width: 80%;
        border-radius: 20px 0 20px 0;
    }
    .btn-large-cta h2 {
        font-size: 22px;
    }
    .btn-large-cta h3 {
        font-size: 14px;
    }

    .btn-large-cta h2 svg {
        width: 30px;
        top: 5px;
    }
}


.sprite {
    background-image: url(../media/img/logo_sprite70x70.png);
    background-repeat: no-repeat;
    display: block
}
.sprite_chatrandom_logo {
    width: 70px;
    height: 70px;
    background-position: -5px -5px
}
.sprite_chatspin_logo {
    width: 70px;
    height: 70px;
    background-position: -5px -85px
}
.sprite_coomeet_logo {
    width: 70px;
    height: 70px;
    background-position: -5px -165px
}
.sprite_flingster_logo {
    width: 70px;
    height: 70px;
    background-position: -5px -245px
}
.sprite_shagle_logo {
    width: 70px;
    height: 70px;
    background-position: -5px -325px
}
#description {
    margin: 50px 0
}
#description .h2_option {
    padding: 30px 0;
    letter-spacing: .5px
}
#description .container {
    display: block
}
#description .container a, #description .container p, #description .container li {
    font-size: 17px;
    letter-spacing: .1px;
    line-height: 25px;
    margin: 10px 0;
    word-spacing: 2px
}
#description .container a, #description .container a b {
    color: #4695f8
}
#description .container a:hover {
    border-bottom: 1.5px solid #4695f8
}
#description .container i, #description .container em {
    font-style: italic
}
#footer {
    background: rgb(40, 40, 40);
    box-shadow: 0 0 4px 1px rgba(68, 68, 68, .52);
    position: relative;
    bottom: 0
}
#footer .container {
    text-align: center
}
#footer .container .footer_menu {
    width: 100%;
    padding: 20px
}
.footer_menu li {
    margin: 5px 8px
}
.footer_menu li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px
}
.footer_menu li a:hover {
    text-decoration: underline
}
#footer .container .social {
    width: 100%;
    padding: 5px 15px 15px 15px
}
.social .social_icons {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background: #3f3f3f;
    border-radius: 60px;
    cursor: pointer;
    border: 3px solid #999;
    -webkit-transition: .2s linear background;
    -moz-transition: .2s linear background;
    -ms-transition: .2s linear background;
    transition: .2s linear background
}
.social_icons svg {
    -webkit-transform: scale(.4);
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    transform: scale(.4);
    width: 40px;
    height: 40px
}
.social_icons svg path {
    fill: #fff
}
.social_icons:nth-child(1):hover {
    background: #4a66ce;
    border: none
}
.social_icons:nth-child(2):hover {
    background: #4bccf3;
    border: none
}
.social_icons:nth-child(3):hover {
    background: #a37716;
    border: none
}
.social_icons:nth-child(4):hover {
    background: #ce4a4a;
    border: none
}
#footer .container .copyright {
    color: #fff;
    padding: 8px;
    border-top: 2px solid #6d6d6d;
    width: 100%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin-top: 10px
}

@media only screen and (min-width: 901px) {
    .sidebar_submenu, .sidebar_wrapper {
        margin-left: -100%!important
        
    }
}
@media only screen and (max-width: 900px) {
    .header_menu {
        position:fixed;
        left: 0;
        top:0px;
        right:0;
        z-index: 99;
        flex-direction: column;
        justify-content: center;
        background-color: #f13a94;
        align-items: center;
        transition: top 1s ease;
        display: none;
    }
    .menu a{
        display: block;
    }
    
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
    .list{
        margin: 16px 0;
    }
    .menu .active{
        display: block;
    }
     .ham_wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        right: 5%
    }
    #content .h1_chat_options {
        font-size: 21px!important;
        text-align: center
    }
    #content .h2_more_option {
        padding: 20px 0 25px 0!important;
        font-size: 20px!important;
        text-align: center
    }
    #chat-options .chat_option {
        width: 250px!important
    }
    .chat_option * {
        margin: 0 8px!important
    }
    #description .h2_option {
        font-size: 20px!important;
        padding: 20px 0!important;
        line-height: 32px
    }
    #description p {
        word-spacing: 2px!important;
        letter-spacing: 0!important
    }
    .footer_menu li a {
        font-size: 13px!important
    }
}